<h1><%= t('activerecord.models.capital.other') %> <small><%= t('crud.title.index') %></small></h1>

<%= link_to new_capital_path do %>
  <button type="button" class="btn btn-primary new_button">
    <span class="glyphicon glyphicon-plus"></span> <%= t('crud.actions.new') %>
  </button>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('activerecord.attributes.capital.name') %></th>
      <th colspan="3"><%= t('crud.title.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @capitals.each do |capital| %>
      <tr>
        <td><%= capital.id %></td>
        <td><%= capital.name %></td>
        <td>
          <%= link_to capital do %>
            <span class="glyphicon glyphicon-info-sign blue"></span> <%= t('crud.actions.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_capital_path(capital) do %>
            <span class="glyphicon glyphicon-pencil blue"></span> <%= t('crud.actions.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to capital, method: :delete, data: { confirm: t('crud.confirm') } do %>
            <span class="glyphicon glyphicon-trash blue"></span> <%= t('crud.actions.destroy') %>
          <% end %>
        </td>
     </tr>
    <% end %>
  </tbody>
</table>

<% unless @capitals.present? %>
  <div class="container no-results">
    <p class="bg-info"><%= t('crud.empty') %></p>
  </div>
<% end %>
