<%%= simple_form_for @<%= singular_table_name %>, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to t('crud.actions.back'), <%= plural_table_name %>_path, class: 'btn btn-default', role: 'button' %>
      <%= f.button :submit, class: 'btn btn-primary', value: t('crud.actions.save') %>
    </div>
  </div>
<%% end %>
