<% disable ||= false %>
<%= simple_form_for @transaction,
    url: @transaction.id ? update_transaction_path(@transaction) : create_transaction_path,
    html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description, disabled: disable %>
    <%= f.input :status, disabled: disable, collection: TransactionStatus.to_a %>
    <%= f.input :total, disabled: disable %>
    <%= f.input :checked_at, disabled: disable, as: :string, input_html: {class: 'date', value: f.object.checked_at ? localize(f.object.checked_at, format: '%d/%m/%Y') : '' } %>
    <%= f.association :income_capital, disabled: disable, label_method: :to_s %>
    <%= f.association :expense_capital, disabled: disable, label_method: :to_s %>
  </div>

  <div class="form-actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to t('crud.actions.back'), transactions_path, class: 'btn btn-default', role: 'button' %>
      <% if disable %>
        <%= link_to edit_transaction_path(@transaction), class: 'btn btn-primary', role: 'button' do %>
          <span class="glyphicon glyphicon-pencil"></span> <%= t('crud.actions.edit') %>
        <% end %>
      <% else %>
        <%= f.button :submit, class: 'btn btn-primary', value: t('crud.actions.save') %>
      <% end %>
    </div>
  </div>
<% end %>
