<nav id="top_menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-menu-links">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'WiseMoney', root_path, class: 'navbar-brand', id: 'home_button' %>
    </div>
    <div class="collapse navbar-collapse" id="top-menu-links">
      <ul class="nav navbar-nav">
        <li class="menu_item <%= 'active' if @menu_active == :capital %>">
          <%= link_to t('menu.capital'), capitals_path %>
        </li>
        <li class="menu_item <%= 'active' if @menu_active == :transaction %>">
          <%= link_to t('menu.transaction'), transactions_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
